@charset "UTF-8";
/* CSS Document */

body {
    font-size: 90%;
    background: #F0F0F0;
    padding-left: 20px;
}

#drop {
    font-size: 110%;
    color: #F0F0F0;
    text-align: center;
    vertical-align: middle;
    background: #cc9593;
    padding-top: 10px;
    width: 200px;
    height: 100px;
    margin: 20px 0;
}

a {
    color: #cc9593;
}

table {
    border: 0;
    border-collapse: separate;
    border-spacing: 0 2px;
}

table td {
    border: 1px solid #656a64;
    border-left-width: 0;
    background: #E6EBEE;
    padding: 2px 5px;
}

table th {
    border: 1px #656a64 solid;
    border-left-width: 0;
    background: #A6A7D0;
}

table th:first-child {
    border-left-width: 1px;
}

#other-items th {
    text-align: left;
}

td.constant-type,
.constant-utf8-value {
    color: #6e641d;
}